<h1 class="py-5">Stupid Coaching</h1>

<form action="/answer" data-turbo="false">
  <label for="question" class="form-label pb-3">Ask your coach anything:</label>
  <input type="text" name="question" id="question" class="form-control">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
